
    
    .linkColor {
        color: blue;
        position: inherit;
    }
    
    .textSize {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    p.center {
        font-size: 16px;
        font-family: 'Courier New', Courier, monospace;

        text-align: center;
        color: rgb(55, 0, 255);
      }
      .textBlue{
        color: rgb(41, 41, 183);
        text-transform : uppercase;
        position: relative;
        }
    
        footer {
        background-color: black;
        height: 120px;
        width: 100%;

        font-size: 2rem;
    }